nav{
    background-color: #cecece;
    margin: 10px;
    border: 2px;
}

a{
    color: #444;
    text-decoration: none;
}

nav ul{
padding :0px;
/* inset-block: ; */
text-align: center;
}

nav li{
list-style: none;
display: inline-block;
border-bottom: 1px solid #444;
margin: 15px 20px;
font-size: 20px;
text-transform: uppercase;
}

h2{
    color: #222;
    border-bottom: 1px solid #444 ;
}

body{
    padding:0px 40px ;
}